.container{
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: flex-end;
   height: 100vh;
   background-image: url("../images/pexels-david-1277181.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   scroll-behavior: auto;
   margin-top: 20px;
   margin-bottom: 20px;
}

.or{
    justify-content: center;
}
/* #facebookBtn{
    color: #0c0e70;
    
} */

