.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(155, 236, 74);
    height: fit-content;
}
.nav-header{
    display: flex;
    flex-direction: column;
}
.nav-link{
    text-decoration: none;
}
.nav-link :hover{
    border: solid;
    padding: 05%;
    background-color: cornflowerblue;
    text-decoration: none;
}