.right-bar{
    flex: 1;
    flex-direction: column;
    background-color: rgb(126, 79, 36);
    border-radius: 10px;
    height: 80vh;
    border: darkblue;
}
.right-bar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}