.side-bar{
    flex: 1;
    flex-direction: column;
    background-color: rgb(26, 29, 29);
    height: 80vh;
    border-radius: 10px;
    justify-content: center;
}

.side-bar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.span{
    padding: 20px;
    margin: 20px;
}